*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: auto;
}
.navbar {background-color: black;}
.clr { clear: both ;}
a { text-decoration: none;}

.logo {
    float: left;
    margin-top: 5px;
}
.logo img {
    width: 50%;
}

.navbar .list {
    float: right;
    margin-top: 5px;
}

.list ul {
    list-style-type:none;
}

.list ul li {
    float: right;
    margin-right: 15px;
}

    .list a {color: aliceblue;
    }

    .portfolio {
        background-color: cornsilk
        ; text-align: center;
    }

    .portfolio-item{
        float: left;
        width: 33.33%;
        padding-right: 30px;
        
    }
    .portfolio img {
        display:block;
        width: 100%;
    }